<h1 class="mb-4">Thêm phiếu mượn</h1>

<form action="/borrows/reader/add" method="POST">

    <% if(error) { %>
        <div class="alert alert-danger"><%= error %></div>
    <% } %>
    <div class="mb-3">
        <label for="book_id" class="form-label">Sách</label>
        <select name="book_id" id="book_id" class="form-select" required>
            <option value="">-- Chọn sách --</option>
           <% books.forEach(book => { %>
                <option value="<%= book.id %>" <%= book.id == book_id ? "selected" : "" %>><%= book.title %></option>
            <% }) %>
        </select>
        
    </div>


    <div class="mb-3">
        <label for="borrow_date" class="form-label">Ngày mượn</label>
        <input type="date" name="borrow_date" id="borrow_date" class="form-control" value="<%=  oldData ? oldData.borrow_date : ''  %>" required>
    </div>

    

    <div class="mb-3">
        <label for="due_date" class="form-label">Ngày đến hạn</label>
        <input type="date" name="due_date" id="due_date" class="form-control" value="<%=  oldData ? oldData.due_date : ''  %>" required>
    </div>

   

    <button type="submit" class="btn btn-success">Thêm</button>
    <a href="/borrows/reader" class="btn btn-secondary">Quay lại</a>
</form>
