<h1 class="mb-4">Danh sách phiếu mượn</h1>
<a href="/borrows/reader/add" class="btn btn-primary mb-3">Thêm phiếu mượn</a>
<%- include('../../partials/error') %>
<form action="">
  <div class="d-flex flex-row gap-4">
    <input
      type="text"
      class="form-control"
      placeholder="Tìm kiếm theo tên sách..."
      name="search"
      value="<%= query.search %>"
    />
    <select class="form-select" name="sort" id="sort">
      <option value="">-- Sắp xếp theo --</option>
      <% borrowStatus.forEach(status => { %>
        <option value="<%= status[0] %>" <%= query.sort === status[0] ? 'selected' : '' %>><%= status[1] %></option>
      <% }) %>
      <option value="DESC" <%= query.sort === 'DESC' ? 'selected' : '' %>>Ngày mượn mới nhất</option>
      <option value="ASC" <%= query.sort === 'ASC' ? 'selected' : '' %>>Ngày mượn cũ nhất</option>
    </select>
  </div>
  <button class="btn btn-primary my-2" type="submit">Tìm kiếm</button>
</form>
<div class="table-responsive mt-2">
  <table class="table table-striped table-hover table-bordered">
  <thead class="table-dark">
    <tr>
      <th>ID</th>
      <th>Sách</th>
      <th>Người mượn</th>
      <th>Ngày mượn</th>
      <th>Ngày hẹn trả</th>
      <th>Ngày trả</th>
      <th>Ngày lấy sách</th>
      <th>Trạng thái</th>
      <th>Hành động</th>
    </tr>
  </thead>
  <tbody>
    <% borrows.forEach(b => { %>
    <tr>
      <td><%= b.id %></td>
      <td><%= b.book.title %></td>
      <td><%= b.borrower.fullname %></td>
      <td><%= new Date(b.borrow_date).toLocaleDateString() %></td>
      <td>
        <%= b.due_date ? new Date(b.due_date).toLocaleDateString() : '' %>
      </td>
      <td>
        <%= b.return_date ? new Date(b.return_date).toLocaleDateString() : '' %>
      </td>
      <td>
        <%= b.pickup_date ? new Date(b.pickup_date).toLocaleDateString() : '' %>
      </td>
      <td><%= borrowStatusMap[b.status] %></td>
      <td>
        <a href="/borrows/reader/detail/<%= b.id %>" class="btn btn-info btn-sm"
          >Xem chi tiết</a
        >
       <% if(b.status === borrowStatusConstants.REQUESTED) { %>
         <a
          href="/borrows/reader/cancel/<%= b.id %>"
          class="btn btn-danger btn-sm"
          >Hủy</a >
        
        <% } %>

      </td>
    </tr>
    <% }) %>
  </tbody>
</table>
</div>
<%- include('../../partials/pagination', { page, totalPages, query }) %>
