<h1 class="mb-4">Chi tiết tài khoản #<%= account.id %></h1>

<table class="table table-bordered">
    <tr>
        <th>Username</th>
        <td><%= account.username %></td>
    </tr>
    <tr>
        <th>Role</th>
        <td><%= account.role %></td>
    </tr>
    <tr>
        <th>Họ tên</th>
        <td><%= account.user.fullname %></td>
    </tr>
    <tr>
        <th>Email</th>
        <td><%= account.user.email %></td>
    </tr>
    <tr>
        <th>Địa chỉ</th>
        <td><%= account.user.address %></td>
    </tr>
    <tr>
        <th>Số điện thoại</th>
        <td><%= account.user.phone %></td>
    </tr>
</table>

<a href="/accounts" class="btn btn-secondary">Quay lại</a>
<a href="/accounts/edit/<%= account.id %>" class="btn btn-warning">Sửa</a>
<form action="/accounts/delete/<%= account.id %>" method="POST" style="display:inline-block;" onsubmit="return confirm('Bạn có chắc muốn xóa?')">
    <button type="submit" class="btn btn-danger">Xóa</button>
</form>
