<h1 class="mb-4">Chi tiết tài khoản #<%= account.id %></h1>

<table class="table table-bordered">
    <tr>
        <th>Username</th>
        <td><%= account.username %></td>
    </tr>
    <tr>
        <th>Role</th>
        <td><%= account.role %></td>
    </tr>
    <tr>
        <th>Họ tên</th>
        <td><%= account.user.fullname %></td>
    </tr>
    <tr>
        <th>Email</th>
        <td><%= account.user.email %></td>
    </tr>
    <tr>
        <th>Địa chỉ</th>
        <td><%= account.user.address %></td>
    </tr>
    <tr>
        <th>Số điện thoại</th>
        <td><%= account.user.phone %></td>
    </tr>
</table>

<%- include("../partials/back") %>

</form>
