<h1 class="mb-4">Quản lý Tác giả</h1>

  <%- include('../partials/error') %>
<a href="/authors/add" class="btn btn-primary mb-3">Thêm tác giả mới</a>
<form action="" method="GET" >
 <div class="d-flex gap-4 flex-row">
   <input
    class="form-control me-2"
    type="search"
    name="search"
    placeholder="Tìm kiếm tác giả..."
    value="<%= query.search %>"
  />
  <select class="form-select" name="sort" id="">
    <option value="ASC" <%= query.sort === 'ASC' ? 'selected' : '' %>>Tăng dần</option>
    <option value="DESC" <%= query.sort === 'DESC' ? 'selected' : '' %>>Giảm dần</option>
  </select>
 </div>
  <button class="btn btn-primary my-2" type="submit">Tìm</button>
</form>
<div class="table-responsive">
  <table class="table table-hover table-striped table-bordered">
    <thead class="table-dark">
      <tr>
        <th>#</th>
        <th>Tên tác giả</th>
        <th>Ngày tạo</th>
        <th>Ngày cập nhật</th>
        <th>Hành động</th>
      </tr>
    </thead>
    <tbody>
      <% authors.forEach((author, index) => { %>
      <tr>
        <td><%= index + 1 %></td>
        <td><a href="/authors/<%= author.id %>"><%= author.name %></a></td>
        <td><%= author.createdAt.toLocaleDateString() %></td>
        <td><%= author.updatedAt.toLocaleDateString() %></td>
        <td>
          <a
            href="/authors/edit/<%= author.id %>"
            class="btn btn-success btn-sm me-1"
            >Sửa</a
          >
          <a
            href="/authors/delete/<%= author.id %>"
            class="btn btn-danger btn-sm"
            >Xóa</a
          >
        </td>
      </tr>
      <% }) %> <% if (authors.length === 0) { %>
      <tr>
        <td colspan="5" class="text-center text-muted">Chưa có tác giả nào.</td>
      </tr>
      <% } %>
      
    </tbody>
  </table>
</div>
<%- include('../partials/pagination', { page, totalPages, query }) %>

