<h3><%= book.title %></h3>
<p><strong>ISBN:</strong> <%= book.isbn %></p>
<p>
  <strong>Tác giả:</strong>
  <a href="/authors/<%= book.author.id %>"><%= book.author.name %></a>
</p>
<p>
  <strong>Danh mục:</strong>
  <a href="/categories/<%= book.category.id %>"><%= book.category.name %></a>
</p>
<p><strong>Năm xuất bản:</strong> <%= book.published_year %></p>
<p>
  <strong>Số lượng:</strong> <%= book.quantity_available %> / <%=
  book.quantity_total %>
</p>
<p><strong>Mô tả:</strong> <%= book.description %></p>
<div>
  <p><strong>Ảnh bìa</strong></p>
  <img src="<%= book.image_cover %>"  alt="Cover" class="img-fluid my-3" style="max-width: 200px; height: auto;" />
</div>

<% if(book.quantity_available < 1) { %>
<div class="alert alert-warning" role="alert">
  Hiện tại sách đã hết, vui lòng quay lại sau!
</div>
<% } %> <% if(role === 'Reader' && book.quantity_available > 0) { %>
<a href="/borrows/reader/add?book_id=<%= book.id %>" class="btn btn-primary">Mượn sách</a>
<% } %>
<%- include("../partials/back") %>
