<div class="container mt-5">
  <h1 class="mb-4">Quản lý Sách</h1>

  <a href="/books/add" class="btn btn-primary mb-3">Thêm sách mới</a>
  <form>
    <div class="d-flex flex-row gap-4">
      <input
      class="form-control me-2 mb-3"
      type="search"
      placeholder="Tìm kiếm sách..."
      name="search"
      value="<%= query.search || "" %>"
    />
      <select class="form-select me-2 mb-3" name="sort">
        <option value="published_year-ASC" <%= query.sort === "published_year_ASC" ? "selected" : "" %>>Năm xuất bản cũ tới mới</option>
        <option value="published_year-DESC" <%= query.sort === "published_year-DESC" ? "selected" : "" %>>Năm xuất bản mới tới cũ</option>
        <option value="quantity_available-ASC" <%= query.sort === "quantity_available-ASC" ? "selected" : "" %>>Số lượng (Thấp - Cao)</option>
        <option value="quantity_available-DESC" <%= query.sort === "quantity_available-DESC" ? "selected" : "" %>>Số lượng (Cao - Thấp)</option>
      </select>
    </div>
    <button class="btn btn-outline-success my-2-3" type="submit">Tìm</button>
  </form>
  <table class="table table-hover align-middle">
    <thead class="table-light">
      <tr>
        <th>#</th>
        <th>ảnh</th>
        <th>Tiêu đề</th>
        <th>ISBN</th>
        <th>Tác giả</th>
        <th>Danh mục</th>
        <th>Năm xuất bản</th>
        <th>Số lượng</th>
        <th>Hành động</th>
      </tr>
    </thead>
    <tbody>
      <% books.forEach((book, index) => { %>
      <tr>
        <td><%= index + 1 %></td>
        <td>
          <img  src="<%= book.image_cover %>" alt="Cover" class="img-fluid" style="width: 100px; height: 100px;" />
        </td>
        <td>
          <a  href="/books/<%= book.id %>"><%= book.title %></a>
        </td>
        <td><%= book.isbn %></td>
        <td><a href="/authors/<%= book.author.id %>"><%= book.author.name %></a></td>
        <td><a href="/categories/<%= book.category.id %>"><%= book.category.name %></a></td>
        <td><%= book.published_year %></td>
        <td><%= book.quantity_available %> / <%= book.quantity_total %></td>
        <td>
          <a
            href="/books/edit/<%= book.id %>"
            class="btn btn-success btn-sm me-1"
            >Sửa</a
          >
          <a href="/books/delete/<%= book.id %>" class="btn btn-danger btn-sm"
            >Xóa</a
          >
        </td>
      </tr>
      <% }) %> <% if (books.length === 0) { %>
      <tr>
        <td colspan="8" class="text-center text-muted">Chưa có sách nào.</td>
      </tr>
      <% } %>
    </tbody>
  </table>
  <div class="d-flex justify-content-center gap-4 align-items-center mt-3">
    <a
      class="btn btn-primary"
      <%= page <= 1 ? "hidden" : "" %>
      href="?page=<%= page - 1 %>&sort=<%= query.sort %>&search=<%= query.search %>"
      >trang trước</a
    >
    <span><%= page %> / <%= totalPages %></span>
    <a
      class="btn btn-primary"
      <%= page >= totalPages ? "hidden" : "" %>
      href="?page=<%= page + 1 %>&sort=<%= query.sort %>&search=<%= query.search %>"
      >trang sau</a
    >
  </div>
</div>
