<h1 class="mb-4">Quản lý Danh mục</h1>
<a href="/categories/add" class="btn btn-success mb-3">Thêm danh mục mới</a>
<%- include('../partials/error') %>
<form
        action=""
        class="row g-3 align-items-center"
      >
        <div class="d-flex flex-row gap-4">
          <input
            type="text"
            name="search"
            value="<%= query.search %>"
            class="form-control"
            placeholder="Tìm kiếm theo tên danh mục"
            
          />
          <select class="form-select" name="sort" id="sort">
            <option value="DESC" <%= query.sort === 'DESC' ? 'selected' : '' %>>
              Mới nhất
            </option>
            <option value="ASC" <%= query.sort === 'ASC' ? 'selected' : '' %>>
              Cũ nhất
            </option>
          </select>
        </div>
        <div class="col-auto">
          <button type="submit" class="btn btn-primary">Tìm kiếm</button>
        </div>
      </form>
<div class="table-responsive mt-2">
 
  <table class="table table-hover align-middle">
        <thead class="table-dark">
          <tr>
            <th>#</th>
            <th>Tên danh mục</th>
            <th>Ngày tạo</th>
            <th>Ngày cập nhật</th>
            <th>Hành động</th>
          </tr>
        </thead>
        <tbody>
          <% categories?.forEach((category, index) => { %>
          <tr>
            <td><%= index + 1 %></td>
            <td>
              <a
                href="/categories/<%= category.id %>"
                class="text-decoration-none"
              >
                <%= category.name %>
              </a>
            </td>
            <td><%= category.createdAt.toLocaleDateString() %></td>
            <td><%= category.updatedAt.toLocaleDateString() %></td>
            <td>
              <a
                href="/categories/edit/<%= category.id %>"
                class="btn btn-sm btn-warning me-2"
                >Sửa</a
              >
              <a
                href="/categories/delete/<%= category.id %>"
                class="btn btn-sm btn-danger"
                >Xóa</a
              >
            </td>
          </tr>
          <% }) %>
        </tbody>
      </table>
      <% if (categories?.length === 0) { %>
      <p class="text-center text-muted">Chưa có danh mục nào.</p>
      <% } %>
  
</div>
<%- include('../partials/pagination', { page, totalPages, query }) %>
