<h1 class="mb-4">Danh sách phiếu mượn</h1>
<!-- <a href="/borrows/add" class="btn btn-primary mb-3">Thêm phiếu mượn</a> -->

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>ID</th>
      <th>Sách</th>
      <th>Người mượn</th>
      <th>Ngày yêu cầu mượn</th>
      <th>Ngày hẹn trả</th>
      <th>Ngày trả</th>
      <th>Ngày lấy sách</th>
      <th>Trạng thái</th>
      <th>Hành động</th>
    </tr>
  </thead>
  <tbody>
    <% borrows.forEach(b => { %>
    <tr>
      <td><%= b.id %></td>
      <td><%= b.book.title %></td>
      <td><%= b.borrower.fullname %></td>
      <td><%= new Date(b.borrow_date).toLocaleDateString() %></td>
      <td>
        <%= b.due_date ? new Date(b.due_date).toLocaleDateString() : '' %>
      </td>
      <td>
        <%= b.return_date ? new Date(b.return_date).toLocaleDateString() : '' %>
      </td>
      <td>
        <%= b.pickup_date ? new Date(b.pickup_date).toLocaleDateString() : '' %>
      </td>
      <td><%= b.status %></td>
      <td>
        <a
          href="/borrows/librarian/detail/<%= b.id %>"
          class="btn btn-info btn-sm"
          >Xem chi tiết</a
        >
        <% if(b.status === "Đang yêu cầu mượn") { %>
        <a
          href="/borrows/librarian/approve/<%= b.id %>"
          class="btn btn-success btn-sm"
          >Duyệt</a
        >
        <a
          href="/borrows/librarian/reject/<%= b.id %>"
          class="btn btn-danger btn-sm"
          >Từ chối</a
        >

        <% }  %>
        <% if(b.status === "Đang mượn") { %>
            <a
          href="/borrows/librarian/expire/<%= b.id %>"
          class="btn btn-warning btn-sm"
          >Đánh dấu quá hạn
         </a>
        <% }  %>
        <% if(!["Đang yêu cầu mượn", "Từ chối", "Đã hủy"].includes(b.status)) { %>
        <a
          href="/borrows/librarian/edit/<%= b.id %>"
          class="btn btn-warning btn-sm"
          >Cập nhật phiếu mượn</a
        >
        <% } %>
      </td>
    </tr>
    <% }) %>
  </tbody>
</table>
