<div class="d-flex justify-content-center gap-4 align-items-center mt-3">
  <a
    class="btn btn-primary"
    <%= page <= 1 ? "hidden" : "" %>
    href="?page=<%= page - 1 %>&sort=<%= query.sort %>&search=<%= query.search %>"
    >trang trước</a
  >
  <span><%= page %> / <%= totalPages %></span>
  <a
    class="btn btn-primary"
    <%= page >= totalPages ? "hidden" : "" %>
    href="?page=<%= page + 1 %>&sort=<%= query.sort %>&search=<%= query.search %>"
    >trang sau</a
  >
</div>