
  <h1 class="mb-3">Danh sách Phiếu Phạt</h1>
  <!-- <a href="/fines/add" class="btn btn-primary mb-3">Thêm Phiếu Phạt</a> -->

  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th>ID</th>
        <th>Số tiền</th>
        <th>Trạng thái</th>
        <th>Ngày tạo</th>
        <th>Ngày người mượn</th>
        <th>Sách</th>
        <th>Hành động</th>
      </tr>
    </thead>
    <tbody>
      <% fines.forEach(fine => { %>
        <tr>
          <td><%= fine.id %></td>
          <td><%= fine.amount %> ₫</td>
          <td><%= fine.isPaid ? "Đã trả" : "Chưa trả" %></td>
          <td><%= fine.createdAt.toLocaleDateString() %></td>
          <td><%= fine.borrow.borrower.fullname %></td>
          <td><%= fine.borrow.book.title %></td>
          <td>
            <a href="/fines/<%= fine.id %>" class="btn btn-sm btn-info">Chi tiết</a>
            <a href="/fines/edit/<%= fine.id %>" class="btn btn-sm btn-warning">Cập nhật</a>
          </td>
        </tr>
      <% }) %>
    </tbody>
  </table>