<h1 class="mb-3">Danh sách Phiếu Phạt</h1>
<!-- <a href="/fines/add" class="btn btn-primary mb-3">Thêm Phiếu Phạt</a> -->
<%- include('../partials/error') %>

<form action="">
  <div class="d-flex gap-2 flex-row">
    <input
      type="text"
      class="form-control"
      name="search"
      placeholder="Tìm kiếm theo tên người mượn hoặc tên sách"
      value="<%= typeof search !== 'undefined' ? search : '' %>"
    />
    <select class="form-select" name="sort" id="">
      <option value="">Sắp xếp theo</option>
      <option value="amount-ASC" <%= query.sort === 'amount-ASC' ? 'selected' : '' %>>Số tiền tăng dần</option>
      <option value="amount-DESC" <%= query.sort === 'amount-DESC' ? 'selected' : '' %>>Số tiền giảm dần</option>
      <option value="isPaid-ASC" <%= query.sort === 'isPaid-ASC' ? 'selected' : '' %>>Trạng thái chưa trả</option>
      <option value="isPaid-DESC" <%= query.sort === 'isPaid-DESC' ? 'selected' : '' %>>Trạng thái đã trả</option>

    </select>
  </div>
  <button class="btn btn-primary my-2" type="submit">Tìm kiếm</button>
</form>
<div class="table-responsive mt-2">
  <table class="table table-bordered table-hover table-striped ">
  <thead class="table-dark">
    <tr>
      <th>ID</th>
      <th>Số tiền</th>
      <th>Trạng thái</th>
      <th>Ngày tạo</th>
      <th>Ngày người mượn</th>
      <th>Sách</th>
      <th>Hành động</th>
    </tr>
  </thead>
  <tbody>
    <% fines.forEach(fine => { %>
    <tr>
      <td><%= fine.id %></td>
      <td><%= fine.amount %> ₫</td>
      <td><%= fine.isPaid ? "Đã trả" : "Chưa trả" %></td>
      <td><%= fine.createdAt.toLocaleDateString() %></td>
      <td><%= fine.borrow.borrower.fullname %></td>
      <td><%= fine.borrow.book.title %></td>
      <td>
        <% role %>
        <% if (role !== "Reader") { %>
        <a href="/fines/<%= fine.id %>" class="btn btn-sm btn-info">Chi tiết</a>
        <a href="/fines/edit/<%= fine.id %>" class="btn btn-sm btn-warning"
          >Cập nhật</a
        >
        <% } %>
      </td>
    </tr>
    <% }) %>
  </tbody>
</table>
</div>

<%- include('../partials/pagination', { page, totalPages, query }) %>
